html {
  position: relative;
  min-height: 100%;
}

body {
  font: 20px/1.8 "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #555;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

code {
  white-space: pre-wrap !important;
  font-size: 16px !important;
}

blockquote {
  font-size: 24px;
  border-left: 1px solid #ccc;
}

img {
  max-width: 100%;
}

img-circle {
  border-radius: 50%;
}

.footer {
  position: relative;
  padding-top: 16px;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6;
  background-color: transparent;
  color: #333;
}

.footer_sticky {
  position: absolute;
  padding: 16px;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6;
  background-color: transparent;
  color: #333;
}

.tocify-extend-page {
  height: 0 !important;
}

.tocify-item {
  font-size: 140%;
}

.tocify-subheader {
  font-size: 135%;
}

.toc-content {
  padding: 0 0 0 25px !important;
}

.pager {
  font-size: 22px;
  font-style: normal;
  line-height: 1.8;
}

.pager .next a:hover {
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
}

.pager .previous a:hover {
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
}

.navbar-default .navbar-brand {
  font-size: 21px;
}
.navbar-default .navbar-nav {
  font-size: 13px;
}

.fb-comments, .fb-comments iframe[style] {
  width: 100% !important;
}

@media (max-width: 767px) {
  body {
    font-size: 18px;
    line-height: 1.7;
  }
  h1 {
    font-size: 33px;
  }
  blockquote {
    font-size: 22px;
  }
  /*
  .tocify {
    display: none;
  }
  */
  .toc-content {
    padding: 0 !important;
  }
}